.stylemain {
     border-radius: 19px 19px 0px 0px;
    align-content:center;
    margin:auto;
    width: 711px;
    height: auto;
    border: 1px solid #3b8994;
}
.styleheader0 p{
  text-align: center;
  color: #d70d0d;
  height: 23px;
  font-size: 22px;
  font-weight: bold;
}
.styleheader1{
    border: 2px solid;
    width: auto;
    height: 63px;
    text-align: right;
    margin-top: 44px;
}
.styleheader11{
    margin-right: 24px;
    margin-top: 12px;
}
.styleheader2{
    width:auto;
    height:35px auto;
}
.style0{
    width:auto;
    height:50px;
}
.style11{
    text-align: center;
    height: 35px;
    border-bottom-style: groove;
    width:400px;
    float:left;
}
.style1{
    text-align: center;
    height: 35px;
    border-right-style: groove;
    border-bottom-style: groove;
    width:200px;
    float:left;
}
.style2{
    height: 20px;
    text-align: center;
    border-right-style: groove;
    border-bottom-style: groove;
    width:200px;
    float:left;
}
.style3{
    height: 20px;
    text-align: center;
    border-bottom-style: groove;
    width:350px;
    float:left;
}
.style4{
    text-align: center;
    border-right-style: groove;
    border-bottom-style: groove;
    width:100px;
    float:left;
}
.style5{
    text-align: center;
    height: 35px;
    border-right-style: groove;
    border-bottom-style: groove;
    width:100px;
    float:left;
}
.style6{
    text-align: center;
    border-left-style: groove;
    border-bottom-style: groove;
    width:50px;
    float:left;
}
.stylecontent{
    width:auto;
    height: auto;
}
.style1 p{
    font-size:14px;
    color: #3047C0;
     font-weight: bold;
    margin-top:7px;
}
.style5 p{ 
    font-size:14px;
    color: #3047C0;
     font-weight: bold;
    margin-top:7px; margin-top:7px;
}
.style11 p{
     font-size:14px;
    color: #3047C0;
     font-weight: bold;
    margin-top:7px;
}
.stylefooter{
    height: 35px;
    text-align: right;
}
.button {
    margin-left: 16px;
  border-radius: 20px;
  width: 60px;
  height: 30px;
  border: 1px solid red;
  float: right;

}
.buttonAdd {
  margin-top:-6px;
  border-radius: 20px;
  width: 60px;
  height: 30px;
  border: 1px solid red;
  float: right;
  margin-left: 13px;

}
.textButton{
 text-align: center;
}
.button:hover{
   background-color:#ffd800;
    font-size: 18px;
    cursor:pointer;
}
.buttonAdd:hover{
   background-color:#e1d4cf;
    font-size: 18px;
    cursor:pointer;
}
.thongbao{
   float: left;
  color: red;
  align-content: center;
  margin-top: 9px;
  width: 298px;
  height: 20px;
  text-align: center;
}
/*--------------Css SuaDanhMuc----------------*/
.stylefooterSDM {
    width: auto;
  align-content: center;
  height: 33px;
}
.buttonSDM {
  width: 185px;
  float: right;
  margin-top: 2px;
}
.textButtonSDM {
  /* align-content: center; */
  text-align: center;
}
.style1SDM {
  border-top-style: groove;
  text-align: center;
  height: 35px;
  border-right-style: groove;
  border-bottom-style: groove;
  width: 273px;
  float: left;
}
.style11SDM {
      border-top-style: groove;
  text-align: center;
  height: 35px;
  border-bottom-style: groove;
  width: 434px;
  float: left;
}
.style2SDM {
  height: 24px;
  text-align: center;
  border-right-style: groove;
  border-bottom-style: groove;
  width: 272px;
  float: left;
}
.style3SDM {
  height: 24px;
  text-align: center;
  border-bottom-style: groove;
  width: 433px;
  float: left;
}
.style11SDM p{
     font-size:14px;
    color: #3047C0;
     font-weight: bold;
    margin-top:7px;
}
.style1SDM p{
    font-size:14px;
    color: #3047C0;
     font-weight: bold;
    margin-top:7px;
}
.buttonSDM:hover{
    background-color:#faf8f2;
}
.btnLuu{
  border-radius: 23px;
  width: 147px;
  height: 27px;
  cursor: pointer;
  background: brown;
}
.btnLuu:hover{
  font-size:15px;
  background-color:#27adc6;
}
/*---------------------------------------Css Sản Phẩm---------------------------------*/
.stylemainSP {
     border-radius: 19px 19px 0px 0px;
    align-content:center;
    margin:auto;
    width: auto;
    height: auto;
    border: 1px solid #3b8994;
}
.styleheader1SP p{
  text-align: center;
  color: #d70d0d;
  height: 23px;
  font-size: 22px;
  font-weight: bold;
}
.styleheader3SP {
  border: 2px solid;
  width: auto;
  height: 30px;
  text-align: right;
  margin-top: 44px;
}
.styleheader1SP{
    margin-right: 24px;
    margin-top: 12px;
}
.styleSP0 {
  border-right-style: groove;
  float: left;
  width: 60px;
  border-bottom-style: groove;
  text-align: center;
  height: 80px;
}
.styleSP1{
 border-right-style: groove;
  float: left;
  height: 80px;
  width: 77px;
   text-align: center;
  border-bottom-style: groove;
}
.styleSP2{
     text-align: center;
     border-right-style: groove;
  border-bottom-style: groove;
  width: 161px;
  height: 80px;
  float: left;
}
.styleSP3{
      text-align: center;
  /* height: 35px; */
  border-right-style: groove;
  border-bottom-style: groove;
  width: 88px;
  height: 80px;
  float: left;
}
.styleSP4{
    text-align: center;
  border-right-style: groove;
  border-bottom-style: groove;
  width: 88px;
  height: 80px;
  float: left;
}
.styleSP5{
   height: 80px;
  text-align: center;
  border-right-style: groove;
  border-bottom-style: groove;
  width: 88px;
  float: left;
}
.styleSP6{
   text-align: center;
 height: 80px;
  border-right-style: groove;
  border-bottom-style: groove;
  width: 88px;
  float: left;
}
.styleSP7{
    height: 80px;
    text-align: center;
    border-bottom-style: groove;
    width:114px;
    float:left;
}
.styleSP8{
    height: 80px;
    text-align: center;
    border-right-style: groove;
    border-left-style: groove;
    border-bottom-style: groove;
    width:88px;
    float:left;
}
.styleSP9{
  float: left;
  height: 80px;
  width: 44px;
   text-align: center;
  border-bottom-style: groove;
}
.styleSP10{
  float: left;
  height: 80px;
  border-left-style: groove;
  width: 146px;
   text-align: center;
  border-bottom-style: groove;
}
.styleSP00 {
  border-right-style: groove;
  float: left;
  width: 60px;
  text-align: center;
  height: 30px;
}
.styleSP01{
 border-right-style: groove;
  float: left;
  height: 30px;
  width: 76px;
   text-align: center;
}
.styleSP02{
     text-align: center;
     border-right-style: groove;
  width: 161px;
  height: 30px;
  float: left;
}
.styleSP03{
      text-align: center;
  /* height: 35px; */
  border-right-style: groove;
  width: 88px;
  height: 30px;
  float: left;
}
.styleSP04{
    text-align: center;
  border-right-style: groove;
  width: 88px;
  height: 30px;
  float: left;
}
.styleSP05{
   height: 30px;
  text-align: center;
  border-right-style: groove;
  width: 88px;
  float: left;
}
.styleSP06{
   text-align: center;
 height: 30px;
  border-right-style: groove;
  width: 88px;
  float: left;
}
.styleSP07{
    height: 30px;
    text-align: center;
    width:114px;
    float:left;
}
.styleSP08{
     border-right-style: groove;    
    height: 30px;
    text-align: center;
    border-left-style: groove;
    width:88px;
    float:left;
}
.styleSP09{
  float: left;
  height: 30px;
  width: 44px;
   text-align: center;
}
.styleSP010{
  float: left;
  height: 30px;
  border-left-style: groove;
  width: 145px;
   text-align: center;
}
.stylecontentSP{
    width:auto;
    height: auto;
}
.style1SP p{
    font-size:14px;
    color: #3047C0;
     font-weight: bold;
    margin-top:7px;
}
.style5SP p{ 
    font-size:14px;
    color: #3047C0;
     font-weight: bold;
    margin-top:7px; margin-top:7px;
}
.style1SP p{
     font-size:14px;
    color: #3047C0;
     font-weight: bold;
    margin-top:7px;
}
.stylefooterSP{
    height: 35px;
    text-align: right;
}
.dataSP{
    margin-top: 24px;
}
.text{
  margin-top: 4px;
  font-size: 17px;
  color: #3047C0;
  font-weight: bold;
}
.stylefooterSP{
   height: 106PX;
}
.buttonSP1 {
   border: 1px solid;
  border-radius: 17px;
  text-align: center;
  margin-left: 15px;
  float: left;
  width: 119px;
  background-color: currentColor;
}
.buttonSP2 {
    border: 1px solid;
  border-radius: 17px;
  text-align: center;
  margin-left: 60px;
  float: left;
  width: 119px;
  background-color: currentColor;
}
.textButton1{
    margin-top: -6px;
    text-align: center;
    color: red;
}
.thongbaoSP{
 float: left;
  color: red;
  width: 541px;
  margin-top: 20px;
  font-size: 19px;
}
/*--------------page ThemSanPham---------------*/
.styleheaderTSP {
  border: 2px solid;
  width: auto;
  height: 953px;
}
.styleheaderTSP1 {
  border: 2px solid;
  width: auto;
  height: auto; 
}
.texttr{
    text-align:right;
    font-size:17px;
}
.auto-style2 {
    width: 100%;
}
.textbox{
    width: 200px;
  height: 25px;
  border-radius: 8px;
}
#Table1 #txtMaSP {
  -webkit-border-radius: 10px;
  border-color: papayawhip;
  width: 236px;
  font-size: 17px;
  height: 34px;
}
.row1{
    font-size: 18px;
  float: left;
  /* text-align: right; */
  width: 182px;
  margin-left: 51px;
  color: blue;
}
.row2{
    font-size: 18px;
  float: left;
  width: 212px;
  color: blue;
}
.row3{
   font-size: 20px;
  float: left;
  width: 82px;
  color: red;
}
.Row2 {
    width: auto;
    height: 35px;
}
.contentRightTSP {
    height: 905px;
  width: 536px;
  float: left;
  margin-top: 10px;
  border-bottom-style: groove;
}
.contentLeftTSP {
   height: 905px;
  border-bottom-style: groove;
  float: right;
  width: 528px;
  margin-top: 10px;
  border-left-style: groove;

}
.ctsp{
    font-size: 27px;
  width: 560px;
  height: 52px;
  color: brown;
  border-top-style: groove;
}
.ctsp p{
    margin-top: 4px;
  margin-left: 15px;
}
.title{
    font-size: 21px;
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
}
.footerTSP{

}
.btnTSP {
   text-align:center;
}
.lbThongBaoLoi{
  color: red;
  font-size: 19px;
  width: -7px;
  float: left;
  margin-top: 12px;
}
/*-------------------------page SuaSanPham---------------------*/
.styleheaderSSP{
    border-top-style: groove;
}
.titleSSP{
   width: 187px;
  height: 34px;
  font-size: 21px;
  margin-left: 19px;
  font-weight: bold;
  margin-top: 10px;
  border-bottom-style: groove;
  margin-top: 10px;
}
.contentSSP{
      border-top-style: groove;
      width: auto;
    height: 1224px;
}
.cot1 {
  height: 43px;
  font-size: 18px;
  width: 182px;
  margin-left: 32px;
  color: blue;
}
.cot2{
    height: 42px;
     font-size: 18px;
  width: 182px;
  color: blue;
}
.contentRightSSP {
  width: 218px;
  float: left;
  margin-top: 10px;
}
.contentRightSSP1 {
  height: 980px;
  width: 172px;
  float: left;
  margin-top: 120px;
}

.contentLeftSSP {
  float: left;
  width: 176px;
  margin-top: 10px;
}
.cotHinhDaidien{
    height: 138px;
  font-size: 18px;
  width: 182px;
  margin-left: 32px;
  color: blue;
}
.Hinh{
    width: 200px;
    height: 138px;
}
.upload{
  margin-top: 100px;

}
.upload1{
  margin-top: 100px;

}
.upload2{
  margin-top: 110px;

}
.upload3{
  margin-top: 120px;

}
.upload4{
    color:red;
  margin-top: 171px;

}
.upload5{
  margin-top: 23px;
  color:red;
}
.btnSSP {
    width: auto;
  text-align:center;
}
.contentLeftSSP1 {
  width: 224px;
    margin-top: 10px;
  float: left;
}
.stylefooterSSP{
    border-top-style: groove;
}
.rightSSP{
    float: left;
    width: 480px;
    height: 1224px;
      border-left-style: groove;
}
.ctspSSP {
  border-bottom-style: double;
  font-size: 27px;
  width: 223px;
  height: 31px;
  color: brown;
}
.contentRight1SSP{
    width: 590px;
    height: 980px;
    float:left;
}
.buttonSP4{
  font-size: 20px;
  width: 201px;
  height: 27px;
  border: 1px solid;
  float: right;
  margin-top: 20px;
  border-radius: 7px;
  margin-right: 45px;
  background-color: gold;
  text-decoration: underline;
}
/*-------------Hinh San Pham ----------------------*/
.styleHSP01{
    border-right-style: groove;
  float: left;
  height: 30px;
  width: 185px;
  text-align: center;
}
.styleHSP02{
  text-align: center;
  border-right-style: groove;
  width: 257px;
  height: 30px;
  float: left;
}
.styleHSP03 {
  text-align: center;
  /* height: 35px; */
  border-right-style: groove;
  width: 257px;
  height: 30px;
  float: left;
}
.styleHSP04 {
  text-align: center;
  border-right-style: groove;
  width: 257px;
  height: 30px;
  float: left;
}
.styleHSP05 {
  float: left;
  height: 30px;
  width: 44px;
  text-align: center;
}
.styleHSP6 {
  text-align: center;
  height: 100px;
  border-bottom-style: groove;
  width: 186px;
  float: left;
}
.styleHSP7 {
  border-left-style: groove;
  height: 100px;
  text-align: center;
  border-bottom-style: groove;
  width: 257px;
  float: left;
}
.styleHSP9 {
  float: left;
  height: 100px;
  border-left-style: groove;
  width: 100px;
  text-align: center;
  border-bottom-style: groove;
}
/*------------------Thong Ke-----------------------*/
.styleTK{
    border: 2px solid;
  width: auto;
  height: 396px;
  text-align: right;
  margin-top: 44px;
}
.styleTK1 {
  margin: auto;
    border: 1px solid;
  width: auto;
  height: 130px;
}
.stylerightTK1{
   border-bottom-style: double;
  height: 31px;
  color: darkgreen;
  text-align:left;
  font-size: 22px;
  margin-left: 20px;
  margin-top: 10px;
  width: 195px;
}
.styleleftTK1{
      height: 78px;
}
.styleleftTK1left{
    float: left;
  width: 518px;
  height: 83px;
}
.styleleftTK1right{
    float: right;
  width: 185px;
  height: 83px;
}
.styleleftTK1left1{
      float: left;
      margin-top: 27px;
  margin-left: 75px;
}
.styleleftTK1left2{
    float: left;
    margin-top: 27px;
  margin-left: 22px;
}
.styleleftTK1left22{
      float: right;
  margin-top: 27px;
  margin-right: 51px;
}
.btnXem{
    float:left;
    margin-top: 19px;
}
.ckeditor1{
      float: left;
  width: 481px;
  height: 31px;
}
/*----------------report-------------*/
.lbSesson{
   font-size: 20px;
  font-weight: bold;
  color: rgb(108, 48, 37);
  float: left;
  margin-left: 65px;
}

.lbTittle{
     font-size: 22px;
  font-weight: bold;
  color: blue;
  float: left;
  margin-left: 42px;
}
/*--------------------Slide-----------------------*/
.Slidestylemain {
  border-radius: 19px 19px 0px 0px;
  align-content: center;
  margin: auto;
  width: 885px;
  height: auto;
  border: 1px solid #3b8994;
}
.Slidestyleheader1 {
  border: 2px solid;
  width: auto;
  /* height: 63px; */
  text-align: right;
  margin-top: 44px;
}
.Slidestyleheader2 {
  /* margin-right: 24px; */
  margin-top: 12px;
}
.Slidestyle0 {
  text-align: center;
  height: 35px;
  border-right-style: groove;
  border-bottom-style: groove;
  width: 100px;
  float: left;
}
.Slidestyle1 {
  text-align: center;
  height: 35px;
  border-right-style: groove;
  border-bottom-style: groove;
  width: 248px;
  float: left;
}
.Slidestyle2 {
  text-align: center;
  height: 35px;
  border-bottom-style: groove;
  width:360px;  
  float: left;
}
.Slidestyle3 {
  height: 122px;
  text-align: center;
  border-right-style: groove;
  border-bottom-style: groove;
  width: 248px;
  float: left;
}
.Slidestyle4 {
  height: 122px;
  text-align: center;
  border-bottom-style: groove;
 width: 360px;
  float: left;
}
.Slidestyle5 {
  height: 122px;
  text-align: center;
  border-right-style: groove;
  border-bottom-style: groove;
  width: 100px;
  float: left;
}
.Slidestyle0 p {
  font-size: 14px;
  color: #3047C0;
  font-weight: bold;
  margin-top: 7px;
  margin-top: 7px;
}
.Slidestyle1 p {
  font-size: 14px;
  color: #3047C0;
  font-weight: bold;
  margin-top: 7px;
}
.Slidestyle2 p {
  font-size: 14px;
  color: #3047C0;
  font-weight: bold;
  margin-top:  7px;
}
.Slidestyle4 p {
  margin-top: 54px;
}
.Slidestyle5 p {
  margin-top: 54px;
}
.Slidestyleheader0 p {
  text-align: center;
  color: #d70d0d;
  height: 23px;
  font-size: 22px;
  font-weight: bold;
}
.buttonSlide {
  border-radius: 17px;
  text-align: center;
  float: left;
  width: 88px;
  margin: 10px;
  background-color: lightgray;
}
.Slidestyle6 {
  height: 124px;
  margin-top: -5px;
  text-align: center;
  border-top-style: groove;
  border-left-style: groove;
  border-bottom-style: groove;
  width: 59px;
  float: left;
}
.Slidestyle7 {
  height: 122px;
  text-align: center;
  border-right-style: groove;
  border-bottom-style: groove;
  width: 100px;
  float: left;
}
.Slidestyle6 p {
  margin-top: 54px;
}
.Slidestyle7 p {
  margin-top: 54px;
}
/*------------------SuaSlide-------------*/
.SSlidestylemain {
  border-radius: 19px 19px 0px 0px;
  align-content: center;
  margin: auto;
  width: 721px;
  height: auto;
  border: 1px solid #3b8994;
}
.textboxSL {
    width: 343px;
  height: 30px;
  border-radius: 7px;
}
/*----------------ThemSlide----------------*/
.TSlidestyleheader1 {
  border: 2px solid;
  width: auto;
  height: 318px;
  text-align: right;
  margin-top: 44px;
}
.contentTSL {
  float: left;
  margin-top: 10px;
}
.RowTSL {
  margin: 10px;
  width: auto;
  height: 35px;
}
.rowTSL1 {
  font-size: 18px;
  float: left;
  text-align: right;
  width: 230px;
  margin: auto;
  color: blue;
}
.rowTSL2 {
  font-size: 18px;
  float: left;
  width: 282px;
  color: blue;
}
.rowTSL3 {
  font-size: 20px;
  float: left;
  width: 117px;
  color: red;
  height: 17px;
}
.TSlidestylefooter{
    margin: auto;
  width: 738px; 
}
.btnXemHinh{
    color: brown;
  border-radius: 12px;
  width: 114px;
  height: 31px;
  background-color: darkkhaki;
}
.rowTSL22{
    float: left;
  width: 511px;
  color: brown;
  font-size: 17px;
}
/*---------------------suaSlid-----------------*/
.SlidestyleUpLoad{
    margin-top: -24px;
  margin-right: 343px;
}
/*-----------------ThacMac------------*/
.dataThacMac{
    width: auto;
  height: auto;
  border: 1px solid grey;
}
.styleTM01 {
  border-right-style: groove;
  float: left;
  height: 30px;
  width: 149px;
  text-align: center;
}
.styleTM02 {
  text-align: center;
  border-right-style: groove;
  width: 186px;
  height: 30px;
  float: left;
}
.styleTM03 {
  text-align: center;
  height: 35px;
  border-right-style: groove;
  width: 257px;
  height: 30px;
  float: left;
}
.styleTM04 {
  text-align: center;
  border-right-style: groove;
  width: 167px;
  height: 30px;
  float: left;
}
.styleTM05 {
  float: left;
  height: 30px;
  width: 230px;
  text-align: center;
}
.styleTM06 {
  float: left;
  height: 30px;
  width: 66px;
  border-left-style: groove;
  text-align: center;
}
.styleTM07 {
  border-right-style: groove;
  float: left;
  height: 36px;
  width: 149px;
  text-align: center;
  border-bottom-style: groove;
}
.styleTM08 {
  text-align: center;
  border-right-style: groove;
  width: 186px;
  height: 36px;
  float: left;
  border-bottom-style: groove;
}
.styleTM09 {
  text-align: center;
  height: 36px;
  border-right-style: groove;
  width: 257px;
  float: left;
  border-bottom-style: groove;
}
.styleTM10 {
  text-align: center;
  border-right-style: groove;
  width: 167px;
  height: 36px;
  float: left;
  border-bottom-style: groove;
}
.styleTM11 {
  float: left;
  height: 36px;
  width: 230px;
  text-align: center;
  border-bottom-style: groove;
  overflow:hidden
}
.styleTM12 {
  float: left;
  height: 36px;
  width: 66px;
  border-left-style: groove;
  text-align: center;
  border-bottom-style: groove;
}
.textTM {
  margin-top: 4px;
}
/*-------------ThacMac----------*/
.StyleTop{
      height: 266px;
}
.StyleTop1{
  color: darkgreen;
  font-size: 17px;
  height: 42px;
  width: 128px;
  font-weight: bold;
}
.StyleTopLeft{
    width: 99px;
  margin-top: 12px;
  margin-left: 31px;
  float:left;
}
.StyleTopRight{
    width: auto;
  margin-top: 12px;
  margin-left: 31px;
  float:left;
}
.StyleTop2{
  font-size: 20px;
  color: brown;
  height: 36px;
}
.StyleHeader{
    border: 2px solid;
  border-radius: 28px;
}
.StyleHeader1{
    height: 93px;
  width: 995px;
  margin: auto;
}
.StyleHeaderLeft{
    width: 912px;
  float: left;
  height: 26px;
}
.email{
    font-size: 22px;
  font-weight: 400;
  color: blue;
}
.Send{
    font-size: 24px;
  font-weight: bold;
  border-bottom-style: double;
  color: brown;
  width: 152px;
}
.Send1{
    float: left;
  margin-top: -30px;
}
.StyleHeaderTop{
    height: 47px;
}
.phantrang{
    float: right;
  width: 1073px;
  text-align: end;
}